In [1]:
%%time

%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append('%s/../' % os.getcwd())

import datetime
import pandas as pd
import numpy as np

from db import conexao
c = conexao.Conexao()
connection = c.con

%matplotlib inline

Você está conectando em outro computador
Conexao <Engine(mysql+mysqldb://guilherme:***@datascience2:3306/breakdown-fundos?charset=utf8)>
Wall time: 10.8 s

In [2]:
%%time
pasta = r'C:\Users\guilherme.oliveira\OneDrive - Rio Bravo\Downloads' 

for i in range(250,0,-1):
    arquivo = '\\resultados_leilao_titulos ('+str(i)+').txt'
    path = pasta+arquivo
    try:
        pd.read_csv(path, sep=";",thousands='.',decimal=',', skiprows=1)
    except:
        continue
    else:
        raw=pd.read_csv(path, sep=";",thousands='.',decimal=',', skiprows=1)
        print 'resultados_leilao_titulos ('+str(i)+').txt'
        break
        
        
raw['date']=pd.to_datetime(raw['Data de movimento'], format='%d/%m/%Y')
raw['publico']=raw['Público']
raw['portaria']=raw['Portaria']
raw['tipo']=raw['Tipo']
raw['titulo']=raw['Título'].str.split(expand=True)[0]
raw['numero']=raw['Título'].str.split(expand=True)[1]
raw['data_vencimento']=pd.to_datetime(raw['Título'].str.split(expand=True)[3], format='%d/%m/%Y')
raw['qtd_dc']=raw['Prazo (dias corridos)'].astype(int)
raw['data_liquidacao']=pd.to_datetime(raw['Liquidação'], format='%d/%m/%Y')
raw['qtd_aceita']=raw['Qtd. aceita'].astype(float)
raw['qtd_ofertada']=raw['Qtd. ofertada'].astype(float)
raw['pu_media']=raw['PU/Cotação média'].astype(float)
raw['pu_corte']=raw['PU/Cotação corte'].astype(float)
raw['tx_media']=raw['Taxa média (%a.a.)'].astype(float)
raw['tx_corte']=raw['Taxa corte (%a.a.)'].astype(float)
raw['financeiro_total']=raw['Financeiro (R$ milhões)'].astype(float)

df=raw[['date','data_liquidacao', 'publico','portaria','tipo','titulo','numero','data_vencimento','qtd_dc',
          'qtd_ofertada','qtd_aceita','pu_media','tx_media','pu_corte','tx_corte',
        'financeiro_total']].copy().sort_values(by='date')

resultados_leilao_titulos (4).txt
Wall time: 262 ms

In [3]:
%%time
pvt = pd.pivot_table(df, values=['qtd_aceita'],
                     index='date', columns=['titulo','data_vencimento'])
pvt=pvt.fillna(0)
pvt=pvt.cumsum()

col=len(pvt.columns)
n_list=[]



for i in range(0,col):
    pvt['a_{0}'.format(i)] = np.where(pd.to_datetime(pvt.index.values)>pvt.columns[i][2],
                                    0,1)
    pvt['b_{0}'.format(i)] = pvt['qtd_aceita'][pvt.columns.get_level_values(1)[i]][pvt.columns.get_level_values(2)[i]]
    pvt['c_{0}'.format(i)] = np.where(pvt['a_{0}'.format(i)]==0, 0,pvt['b_{0}'.format(i)])
    n_list.append('c_' + str(i))

    
lst_1=[]

for i in range(0,col):
    lst_1.append(str(pvt.columns.get_level_values(1)[i])+ " " + str(pvt.columns.get_level_values(2)[i]))

    
    
pvt=pvt[n_list]
pvt.columns = lst_1



pvt_venc=pvt[pvt.index==pvt.index.max()]
lst_2=[]
for i in range(0,col):
    if pvt_venc[pvt_venc.columns[i]].any()!=0:
        lst_2.append(pvt_venc.columns[i])
        
        
        
        
        
pvt_ord=pvt_venc[lst_2].transpose()

lst_3=[]
pvt_ord['titulos']=pvt_ord.index.str.split()
for i in range(0,len(pvt_ord)):
    lst_3.append(pvt_ord['titulos'][i][1])

pvt_ord['vencimentos']=pd.to_datetime(lst_3)
pvt_ord=pvt_ord.drop('titulos',1).sort_values(by='vencimentos')

Wall time: 2.25 s

In [4]:
pvt_ord

date                       2017-08-03 00:00:00 vencimentos
LFT 2017-09-07 00:00:00              5238950.0  2017-09-07
LTN 2017-10-01 00:00:00             76593050.0  2017-10-01
LTN 2018-01-01 00:00:00             52791850.0  2018-01-01
NTN-F 2018-01-01 00:00:00            8327350.0  2018-01-01
LFT 2018-03-01 00:00:00              5685950.0  2018-03-01
LTN 2018-04-01 00:00:00             83124400.0  2018-04-01
LTN 2018-07-01 00:00:00             61086950.0  2018-07-01
NTN-B 2018-08-15 00:00:00           11205150.0  2018-08-15
LFT 2018-09-01 00:00:00              8500000.0  2018-09-01
LTN 2018-10-01 00:00:00             59500000.0  2018-10-01
LTN 2019-01-01 00:00:00             98475800.0  2019-01-01
NTN-F 2019-01-01 00:00:00            9641500.0  2019-01-01
LFT 2019-03-01 00:00:00              6500000.0  2019-03-01
LTN 2019-04-01 00:00:00             86500000.0  2019-04-01
NTN-B 2019-05-15 00:00:00           18291100.0  2019-05-15
LTN 2019-07-01 00:00:00             44473500.0  2019-07-01
LTN 2019-10-01 00:00:00             12885000.0  2019-10-01
LTN 2020-01-01 00:00:00             80650050.0  2020-01-01
LFT 2020-03-01 00:00:00              9500000.0  2020-03-01
LTN 2020-07-01 00:00:00            164874000.0  2020-07-01
NTN-B 2020-08-15 00:00:00           10761282.0  2020-08-15
LFT 2020-09-01 00:00:00              6659950.0  2020-09-01
NTN-F 2021-01-01 00:00:00           79992725.0  2021-01-01
LFT 2021-03-01 00:00:00             17218650.0  2021-03-01
NTN-B 2021-05-15 00:00:00           20850200.0  2021-05-15
LTN 2021-07-01 00:00:00             20500000.0  2021-07-01
LFT 2021-09-01 00:00:00             21000000.0  2021-09-01
LFT 2022-03-01 00:00:00              9857050.0  2022-03-01
NTN-B 2022-08-15 00:00:00           28028050.0  2022-08-15
LFT 2022-09-01 00:00:00              9789700.0  2022-09-01
NTN-F 2023-01-01 00:00:00           84608075.0  2023-01-01
LFT 2023-03-01 00:00:00             13000000.0  2023-03-01
NTN-B 2023-05-15 00:00:00           13218425.0  2023-05-15
LFT 2023-09-01 00:00:00              2209450.0  2023-09-01
NTN-B 2024-08-15 00:00:00            3570591.0  2024-08-15
NTN-F 2025-01-01 00:00:00           52094250.0  2025-01-01
NTN-B 2026-08-15 00:00:00           10165275.0  2026-08-15
NTN-F 2027-01-01 00:00:00           50846000.0  2027-01-01
NTN-B 2030-08-15 00:00:00            3180736.0  2030-08-15
NTN-B 2035-05-15 00:00:00            9068044.0  2035-05-15
NTN-B 2040-08-15 00:00:00            2892991.0  2040-08-15
NTN-B 2045-05-15 00:00:00            5571873.0  2045-05-15
NTN-B 2050-08-15 00:00:00           10305046.5  2050-08-15
NTN-B 2055-05-15 00:00:00            5128675.0  2055-05-15

In [13]:
pvt_ord.to_excel('vencimentos_titulos.xlsx')